body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-anchor: none;
  overflow-y: auto !important;

  --font-family: 'Raleway', 'roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-size: 13px;
  --bg-color: white;
  --color-gray: rgb(56, 56, 56);
  --color-gray__dark: rgb(36, 36, 36);
  --color-gray__light: rgb(64, 64, 64);
  --color-gray__lightest: rgb(72, 72, 72);
  --color-white: rgba(255, 255, 255, 0.95);
  --color-off-white: rgb(240, 240, 240);
  --color-primary: #ffe5b4;
  --color-primary__dark: #ffa64a;
  --color-secondary: #1eb980;
  --color-secondary__dark: #045d56;
  --color-error: #b00020;
  --border-color: rgba(0, 0, 0, 0.21);
  --font-color: rgba(0, 0, 0, 0.84);
  --font-color--hover: rgba(0, 0, 0, 0.6);
  --font-color__dark: rgba(255, 255, 255, 0.8);
  --default-transition: 0.125s all ease-in-out;
  --facebook-blue: #3b5998;

  --form-border-radius: 8px;
  --button-border: rgba(0, 0, 0, 0.21);
  --button-border__hover: rgba(0, 0, 0, 0.42);

  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
}

#root {
  height: 100%;
  * > :focus {
    outline: none;
  }
}
